.root {
    width: 100vw;
    height: 100vh;
    background: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.topFrontend {
    gap: 16px;
}

.imgIvan:hover {
}

.imgAndrew:hover {
}

.imgKirill:hover {

}

.img {
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    transition: all 0.5s ease;
}

.img_fake_1 {
    background: #ddcaec;
}

.animation_on {
    animation: 1s rotateLeftRight infinite;
}

@keyframes rotateLeftRight {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);

    }
    50% {
        transform: rotate(0deg);

    }
    75% {
        transform: rotate(-5deg);

    }
    100% {
        transform: rotate(0deg);
    }
}